body {
    background-image: url('/background/bkcdm.png');
    color: white;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.scroll-animation {
    text-align: center;
    width: 100%;
}

.animation-element {
    /* opacity: 0;
    height: 0%;
    transition: height 2s linear; */

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.26s ease;
}

.animation-element.animate {
    /* opacity: 1;
    height: 100%; */
    transform: scaleY(1);
}

/* button {
    --button-star-greyscale: 100%;
    --button-star-contrast: 0%;

    appearance: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #5e5e5e;
    border-radius: 36px;
    outline: none;
    margin: 0;
    padding: 0;
    padding-left: 90px;
    font-size: 42px;
    letter-spacing: -2px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.05), inset 0px -10px 20px 0px rgba(0, 0, 0, 0.05),
        0px 10px 20px 0px rgba(0, 0, 0, 0.05);
}

.icon {
    display: block;
    width: 600px;
    height: 300px;
    z-index: 1;
    pointer-events: none;
    transform-origin: 50% 52%;
    filter: grayscale(var(--button-star-greyscale)) contrast(var(--button-star-contrast));
    opacity: 0.3;
    position: absolute;
    top: -100px;
    left: -240px;
}

.icon canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.label {
    width: 140px;
    padding: 20px 0 22px;
    transform: translateZ(0);
}

.default {
    display: block;
}

.number {
    padding: 30px 36px;
    position: relative;
    transform: translateZ(0);
}

.number:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #e8e8e8;
    opacity: 0.4;
}

.current {
    color: #d9d9d9;
    opacity: 1;
    display: block;
}

.new {
    color: #fed600;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    display: block;
}

.add {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translateY(38px);
    pointer-events: none;
    color: #d0d0db;
    display: block;
} */

@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.blockchain {
    display: flex;
    /* overflow-x: hidden; */
    align-items: flex-end;
    justify-content: start;
    position: relative;
}

.block {
    width: 50px;
    height: 50px; /* Square dimensions */
    background-color: #00b359; /* Orange background */
    color: #ffffff; /* White text */
    margin-right: 20px; /* Space between blocks */
    position: relative;
    animation: popIn 0.6s ease-out forwards;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transform-origin: center left; /* Animation origin */
    border-radius: 8px;
}

.block-content {
    font-size: 14px;
    font-weight: bold;
    /* font-size: 2em; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* line-height: 100px; */
}

.transactions {
    position: absolute;
    bottom: -20px; /* Below the block */
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.fadedBlock {
    background-color: #c7f5de;
}
