body {
    background-image: url('/background/bkcdm.png');
    color: white;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.scroll-animation {
    text-align: center;
    width: 100%;
}

.animation-element {
    /* opacity: 0;
    height: 0%;
    transition: height 2s linear; */

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.26s ease;
}

.animation-element.animate {
    /* opacity: 1;
    height: 100%; */
    transform: scaleY(1);
}

@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.blockchain {
    display: flex;
    /* overflow-x: hidden; */
    align-items: flex-end;
    justify-content: start;
    position: relative;
}

.block {
    width: 50px;
    height: 50px; /* Square dimensions */
    color: #686868; /* White text */
    margin-right: 20px; /* Space between blocks */
    position: relative;
    animation: popIn 0.6s ease-out forwards;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transform-origin: center left; /* Animation origin */
    border-radius: 8px;
}

.block-content {
    font-size: 14px;
    font-weight: bold;
    /* font-size: 2em; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* line-height: 100px; */
}

.transactions {
    position: absolute;
    bottom: -20px; /* Below the block */
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.fadedBlock {
    background-color: #c7f5de;
}
.block-transaction-0 {
    background-color: #f7fff7; /* Very light green */
}

.block-transaction-1 {
    background-color: #e0ffd1;
}

.block-transaction-2 {
    background-color: #c6ffab;
}

.block-transaction-3 {
    background-color: #abff85;
}

.block-transaction-4 {
    background-color: #91ff5f;
}

.block-transaction-5 {
    background-color: #78ff3b;
}

.block-transaction-6 {
    background-color: #5eff17;
}

.block-transaction-7 {
    background-color: #4cd210;
}

.block-transaction-8 {
    background-color: #3aa90e;
}

.block-transaction-9 {
    background-color: #28910c;
}

.block-transaction-10 {
    background-color: #17780a;
}

.block-transaction-11 {
    background-color: #055f08;
}

.block-transaction-12 {
    background-color: #004d07;
}

.block-transaction-13 {
    background-color: #003b05;
}

.block-transaction-14 {
    background-color: #002900; /* Very dark green */
}
