body {
    background-image: url('/background/bkcdm.png');
    color: white;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.scroll-animation {
    text-align: center;
    width: 100%;
}

.animation-element {
    /* opacity: 0;
    height: 0%;
    transition: height 2s linear; */

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.26s ease;
}

.animation-element.animate {
    /* opacity: 1;
    height: 100%; */
    transform: scaleY(1);
}
